<div class="container">
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">
            <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype = "multipart/form-data">
              <div class="text-center mb-4">
                <h1 class="h3 mt-3 mb-3 font-weight-normal">Nouveau compte</h1>
                <p>Page de creation de nouveau compte</p>
                <hr>
              </div>
              <div
                *ngIf="error" class="alert alert-danger" role="alert">
                Ops: {{ error }}
              </div>
              <div class="form-group" [ngClass]="{ 'has-error':!registerForm.get('name').valid && (registerForm.get('name').dirty || registerForm.get('name').touched) }">
                <label for="name">Nom </label>

                <input type="text" class="form-control" id="name" name="name" formControlName="name"
                       ariadescribedby="emailHelp" placeholder="Enter name">

                <div class="form-feedback" *ngIf="registerForm.get('name').errors && (registerForm.get('name').dirty || registerForm.get('name').touched)" style="color: darkorange">
                  <div *ngIf="registerForm.get('name').hasError('required')">Name is required</div>
                </div>

              </div>

              <div class="form-group" [ngClass]="{ 'has-error':!registerForm.get('email').valid && (registerForm.get('email').dirty || registerForm.get('email').touched) }">
                <label for="email">Email </label>
                <input type="email" class="form-control" id="email" formControlName="email"
                       ariadescribedby="emailHelp" placeholder="Enter email">
                <div class="form-feedback"
                     *ngIf="registerForm.get('email').errors && (registerForm.get('email').dirty || registerForm.get('email').touched)" style="color: darkorange">
                  <div *ngIf="registerForm.get('email').hasError('required')">Email is required</div>
                  <div *ngIf="registerForm.get('email').hasError('email')">Email must be a valid email address</div>
                </div>

              </div>




              <div class="form-group" [ngClass]="{ 'has-error': !registerForm.get('password').valid && (registerForm.get('password').dirty || registerForm.get('password').touched) }">
                <label for="password">Password</label>

                <input type="password" class="form-control" id="password" name="password" formControlName="password"
                       placeholder="Password">

                <div class="form-feedback"
                     *ngIf="registerForm.get('password').errors &&
(registerForm.get('password').dirty || registerForm.get('password').touched)" style="color: darkorange">
                  <p
                    *ngIf="registerForm.get('password').hasError('required')">Password is required</p>
                  <p
                    *ngIf="registerForm.get('password').hasError('minlength')">Password must be 6 characters long, we need another
                    {{registerForm.get('password').errors['minlength'].requiredLength -
                    registerForm.get('password').errors['minlength'].actualLength}} characters </p>
                </div>
              </div>

              <!--<div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password"
                       placeholder="Confirm Password">
              </div>-->


              <button [disabled]="!registerForm.valid" class="btn btn-lg btn-primary btn-block mt-2">Register</button>

              <button class="btn btn-lg btn-secondary btn-block mt-2"
                      type="reset">Back</button>
              <br><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
