
<div class="container">
  <br><br>
  <div class="card-deck">
    <div class="card" style="box-shadow: 1px 1px 10px lightgray">
      <img class="card-img-top" width="240" height="190" src="../../assets/images/creer-une-entreprise-de-service-aux-entreprises.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Administrateur</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button routerLink="/admin/login" style="margin-right: 4px"  class="btn btn-outline-primary">Connexion</button>
        <button routerLink="/admin/register"  class="btn btn-outline-secondary">Nouveau Compte</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card" style="box-shadow: 1px 1px 10px lightgray">
      <img class="card-img-top" width="240" height="190" src="../../assets/images/lycee-vos-profs-se-connaissent-tres-bien.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Professeur</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <button   class="btn btn-outline-primary">Connexion</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card" style="box-shadow: 1px 1px 10px lightgray">
      <img class="card-img-top" width="240" height="190" src="../../assets/images/recherche-proactive-d-entreprise-860x460.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Scolarite</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button class="btn btn-outline-primary">Connexion</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

